{% extends 'base.html' %}

{% block content %}
<div class="register-container">
  <div class="register-card">
        <h1>Edit Profile</h1>
        <form method="POST">
            <div class="form-outline mb-4">
                <input type="text" id="name" class="form-control" name="name" value="{{ retailer.name }}" required />
                <label class="form-label" for="name">Retailer Name</label>
            </div>
            <div class="form-outline mb-4">
                <input type="email" id="email" class="form-control" name="email" value="{{ retailer.email }}" disabled />
                <label class="form-label" for="email">Email</label>
            </div>
            <div class="form-outline mb-4">
                <input type="text" id="contact_number" class="form-control" name="contact_number" value="{{ retailer.contact_number }}" required />
                <label class="form-label" for="contact_number">Contact Number</label>
            </div>
            <div class="form-outline mb-4">
                <input type="text" id="address" class="form-control" name="address" value="{{ retailer.address }}" />
                <label class="form-label" for="address">Business Address</label>
            </div>
            <div class="form-outline mb-4">
                <input type="text" id="city" class="form-control" name="city" value="{{ retailer.city }}" required />
                <label class="form-label" for="city">City</label>
            </div>
            <div class="text-center pt-1 mb-5 pb-1">
                <button class="btn btn-primary btn-block fa-lg" type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
