{% extends 'base.html' %}

{% block content %}
<div class="register-container">
  <div class="register-card">
  <h2>Edit Dish</h2>

    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="dish_name">Dish Name</label>
            <input type="text" name="dish_name" id="dish_name" value="{{ dish.dish_name }}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" class="form-control" required>{{ dish.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" name="price" id="price" value="{{ dish.price }}" class="form-control" step="0.01" required>
        </div>
        <div class="form-group">
          <label for="image_file">Upload New Image</label>
          <input type="file" class="form-control" id="image_file" name="image_file">
          <p>Current Image: <img src="{{ url_for('static', filename=dish.image_url.split('static/')[1]) }}" alt="Current Image" width="100"></p>
        </div>
        <button type="submit" class="btn btn-primary">Update Dish</button>
    </form>
  </div>
</div>
{% endblock %}